<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<http>
    <headers defaults-disabled="true">

        <cache-control/>

    </headers>
</http>


<head>
    <meta charset="UTF-8"/>
    <link th:rel="stylesheet" th:href="@{../crm/css/bootstrap.css}"/>
    <link th:rel="stylesheet" th:href="@{../crm/css/style.css}"/>
    <style>
        body {
            margin: 30px;
        }

        p {
            display: inline;
        }
    </style>
    <link th:rel="stylesheet" th:href="@{../easyui/themes/metro/easyui.css}"/>
    <link th:rel="stylesheet" th:href="@{../easyui/themes/icon.css}"/>
    <script type="text/javascript" th:src="@{../easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{../easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{../crm/js/bootstrap.js}"   ></script>
    <script type="text/javascript" th:src="@{../crm/js/js.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{../crm/js/Express/expressorder/expressorder.js}"></script>
</head>

<body>
<div class="row clearfix">
    <div class="col-md-12 column">

        <div class="pull-left">
            <a href="addExpressOrderInput"><input type="button" class="btn btn-primary" value="添加订单"/></a>
        </div>
        <div class="pull-right">
            <!--<form class="form-search" action="appList">-->
                <!--<input type="text" class="form-control search" name="appFullName" id="appFullName"-->
                       <!--placeholder="请输入关键字/或者用户名"/>-->
                <!--<button type="button" onclick="javascript:obtainBatchByYear()" class="btn " style="width: 60px;">搜索-->
                <!--</button>-->
            <!--</form>-->
        </div>
    </div>
</div>
<table id="datagrid" class="easyui-datagrid"
       data-options="pageNumber:1,pageSize:10,pageList:[10,20,30,40],pagePosition:'bottom',nowrap:true,striped:true,toolbar:'#btn',url:'jsonExpressOrderList'
				,rownumbers:true,idField:'appid',fitColumns:true,method:'post',pagination:true,singleSelect:true,showHeader:true">
    <thead>
    <tr>
        <th data-options="field:'type',width:'8%'">类别</th>
        <th data-options="field:'ordercode',width:'8%'">订单号</th>
        <th data-options="field:'ordercontent',width:'5%'">订单内容</th>
        <th data-options="field:'description',width:'10%'">描述</th>
        <th data-options="field:'paydateString',width:'10%'">支付时间</th>
        <th data-options="field:'createdateString',width:'10%'">创建时间</th>
        <th data-options="field:'mname',width:'8%'">用户名</th>
        <th data-options="field:'username',width:'10%'">负责人</th>
        <th data-options="field:'isdel',width:'10%' ,formatter:option">操作</th>
    </tr>
    </thead>
</table>
</body>


</html>