<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkj.ecp.dao.mod.BasModMapper" >
  <resultMap id="BaseResultMap" type="com.zrkj.ecp.domain.mod.BasMod" >
    <id column="modID" property="modid" jdbcType="INTEGER" />
    <result column="pId" property="pid" jdbcType="INTEGER" />
    <result column="modName" property="modname" jdbcType="VARCHAR" />
    <result column="quickCode" property="quickcode" jdbcType="VARCHAR" />
    <result column="instantiateMethod" property="instantiatemethod" jdbcType="VARCHAR" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
    <result column="extraData" property="extradata" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="INTEGER" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="classLevel" property="classlevel" jdbcType="INTEGER" />
    <result column="treeOrder" property="treeorder" jdbcType="INTEGER" />
    <result column="appID" property="appid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    modID, pId, modName, quickCode, instantiateMethod, typeName, extraData, url, disabled, 
    notes, classLevel, treeOrder, appID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bas_mod
    where modID = #{modid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bas_mod
    where modID = #{modid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zrkj.ecp.domain.mod.BasMod" >
    insert into t_bas_mod (modID, pId, modName, 
      quickCode, instantiateMethod, typeName, 
      extraData, url, disabled, 
      notes, classLevel, treeOrder, 
      appID)
    values (#{modid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{modname,jdbcType=VARCHAR}, 
      #{quickcode,jdbcType=VARCHAR}, #{instantiatemethod,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, 
      #{extradata,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{disabled,jdbcType=INTEGER}, 
      #{notes,jdbcType=VARCHAR}, #{classlevel,jdbcType=INTEGER}, #{treeorder,jdbcType=INTEGER}, 
      #{appid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zrkj.ecp.domain.mod.BasMod" >
    insert into t_bas_mod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modid != null" >
        modID,
      </if>
      <if test="pid != null" >
        pId,
      </if>
      <if test="modname != null" >
        modName,
      </if>
      <if test="quickcode != null" >
        quickCode,
      </if>
      <if test="instantiatemethod != null" >
        instantiateMethod,
      </if>
      <if test="typename != null" >
        typeName,
      </if>
      <if test="extradata != null" >
        extraData,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="classlevel != null" >
        classLevel,
      </if>
      <if test="treeorder != null" >
        treeOrder,
      </if>
      <if test="appid != null" >
        appID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modid != null" >
        #{modid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="modname != null" >
        #{modname,jdbcType=VARCHAR},
      </if>
      <if test="quickcode != null" >
        #{quickcode,jdbcType=VARCHAR},
      </if>
      <if test="instantiatemethod != null" >
        #{instantiatemethod,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="extradata != null" >
        #{extradata,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="classlevel != null" >
        #{classlevel,jdbcType=INTEGER},
      </if>
      <if test="treeorder != null" >
        #{treeorder,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrkj.ecp.domain.mod.BasMod" >
    update t_bas_mod
    <set >
      <if test="pid != null" >
        pId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="modname != null" >
        modName = #{modname,jdbcType=VARCHAR},
      </if>
      <if test="quickcode != null" >
        quickCode = #{quickcode,jdbcType=VARCHAR},
      </if>
      <if test="instantiatemethod != null" >
        instantiateMethod = #{instantiatemethod,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="extradata != null" >
        extraData = #{extradata,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="classlevel != null" >
        classLevel = #{classlevel,jdbcType=INTEGER},
      </if>
      <if test="treeorder != null" >
        treeOrder = #{treeorder,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        appID = #{appid,jdbcType=INTEGER},
      </if>
       <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where modID = #{modid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrkj.ecp.domain.mod.BasMod" >
    update t_bas_mod
    set pId = #{pid,jdbcType=INTEGER},
      modName = #{modname,jdbcType=VARCHAR},
      quickCode = #{quickcode,jdbcType=VARCHAR},
      instantiateMethod = #{instantiatemethod,jdbcType=VARCHAR},
      typeName = #{typename,jdbcType=VARCHAR},
      extraData = #{extradata,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      classLevel = #{classlevel,jdbcType=INTEGER},
      treeOrder = #{treeorder,jdbcType=INTEGER},
      appID = #{appid,jdbcType=INTEGER}
    where modID = #{modid,jdbcType=INTEGER}
  </update>
  
  
   <!--获取一级功能列表-->
  <select id="selectFirstModList" parameterType="com.zrkj.ecp.dto.mod.ModDto" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List" />
    FROM
    t_bas_mod e
    WHERE
     e.isdel = 0
    <if test="modid==null">
      and e.classLevel= 1
    </if>
     and e.appID = #{appid,jdbcType=INTEGER}
    <if test="modid!=null">
      and e.pId = #{modid,jdbcType=INTEGER}
    </if> 
    <if test="modname!=null">
      and
      e.modName LIKE #{modname,jdbcType=VARCHAR}
    </if>
    <if test="page!=null">
      limit #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
    </if> 
  </select>
  
   <select id="selectModList"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List" />
    FROM
    t_bas_mod e
    WHERE
     e.isdel = 0
     and e.appID = #{appid,jdbcType=INTEGER}
  </select>

  <select id="selectModListByAppidAndUid" resultType="com.zrkj.ecp.domain.mod.BasMod">
    SELECT
        m.modID as modid,
        m.pId as pid,
        m.modName as modname,
        m.quickCode as quickcode,
        m.instantiateMethod as instantiatemethod,
        m.typeName as typename,
        m.extraData as extradata,
        m.url as url,
        m.disabled as disabled,
        m.notes as notes,
        m.classLevel as classlevel,
        m.treeOrder as treeorder,
        m.appID as appid,
        m.isdel as isdel
    FROM
        t_bas_mod m
    LEFT JOIN t_bas_role_mod rm ON m.modID = rm.modID
    LEFT JOIN t_bas_user u ON u.positionId = rm.positionId
    WHERE
        rm.appID = #{appid,jdbcType=INTEGER}
    AND u.uId = #{uid,jdbcType=INTEGER}
    AND m.isdel = 0
    AND rm.isdel = 0
    AND u.isdel = 0
    GROUP BY m.modID
  </select>
  
  
   <!--获取功能DTO列表-->
  <select id="selectFirstModDtoList" parameterType="com.zrkj.ecp.dto.mod.ModDto"  resultType="com.zrkj.ecp.dto.mod.PModDto">
    SELECT
     e.modId AS modid,
	 e.`modName` AS modname
    FROM
    t_bas_mod e
    WHERE
     e.isdel = 0
     <if test="modid==null">
      and e.classLevel= 1
    </if>
     
     and e.appID = #{appid,jdbcType=INTEGER}
    <if test="modid!=null">
      and e.pId = #{modid,jdbcType=INTEGER}
    </if> 
  </select>
  
  
  
   <!--获取总记录数-->
  <select id="selectFirstModCount" parameterType="com.zrkj.ecp.dto.mod.ModDto" resultType="java.lang.Integer">
    select count(e.modID) FROM
    t_bas_mod e
    WHERE
     e.isdel = 0
    <if test="modid==null">
      and e.classLevel= 1
    </if>
     and e.appID = #{appid,jdbcType=INTEGER}
    <if test="modid!=null">
      and e.pId = #{modid,jdbcType=INTEGER}
    </if> 
    <if test="modname!=null">
      and
      e.modName LIKE #{modname,jdbcType=VARCHAR}
    </if>
   </select>
  
  <!--根据父节点选择子节点 -->
   <select id="selectModListByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List" />
    FROM
    t_bas_mod e
    WHERE
     e.isdel = 0
     and e.pId = #{pid,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllPModDtoBymodid" resultType="com.zrkj.ecp.dto.mod.PModDto" parameterType="java.lang.Integer" >
  			SELECT
		e.modId AS modid,
		e.`modName` AS modname
	FROM
		t_bas_mod e
		WHERE
	e.isdel = 0
AND e.pId = #{modid,jdbcType=INTEGER}
OR e.modId = #{modid,jdbcType=INTEGER}
OR e.modId = (select t.pId from t_bas_mod t where t.modId = #{modid,jdbcType=INTEGER})
or e.pId = (select t.pId from t_bas_mod t where t.modId = #{modid,jdbcType=INTEGER})
  </select>
  
   <!--查找最大id-->
  <select id="selectMaxAid" resultType="java.lang.Integer">
    select max(e.modId) from t_bas_mod e ;
  </select>
  
  <!--根据modid查找等级  -->
  <select id="selectClassLevelByModId" parameterType="java.lang.Integer"  resultType="java.lang.Integer">
    select  e.classLevel from t_bas_mod e where e.modId = #{modid,jdbcType=INTEGER};
  </select>
  
   <!--  查看是否有子关联 -->
   <select id="selectCountByMRFK" parameterType="java.lang.Integer" resultType="java.lang.Integer">
   SELECT
	count(e.modID)
FROM
	t_bas_role_mod e
WHERE
   e.isdel = 0
and	e.modID = #{modid,jdbcType=INTEGER}
  </select>
  
  
</mapper>