<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
</head>

  <frameset cols="140,140,*" frameborder="no" border="0" framespacing="0">
    <frame src="../PositionController/positionMain?type=2" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="../PositionController/positionMain?type=3" name="deptFrame" id="deptFrame" title="" />
    <frame src="../PositionController/positionList" name="rightFrame" id="rightFrame" title="rightFrame" />
  </frameset>
<body>
</body>
</html>
